In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
# Loading New Dataset
import pandas as pd
df4 = pd.read_csv('/content/drive/MyDrive/PDS ASSIGNMENT-2/task2_final.csv')

In [12]:
# Assuming the current year is 2024
current_year = 2024

# Calculate the age of the car and create a new column
df4['Car_Age'] = current_year - df4['Year']

print(df4)

      Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  \
0                0             0           1
1                1             1           2
2                2             2           3
3                3             3           4
4                4             4           6
...            ...           ...         ...
5842          5842          5842        6014
5843          5843          5843        6015
5844          5844          5844        6016
5845          5845          5845        6017
5846          5846          5846        6018

                                  Name    Location  Year  Kilometers_Driven  \
0     Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                         Honda Jazz V     Chennai  2011              46000
2                    Maruti Ertiga VDI     Chennai  2012              87000
3      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4               Nissan Micra Diesel XV      Jaipur  2013              86999
...                                ...         ...   ...                ...
5842                  Maruti Swift VDI       Delhi  2014              27365
5843          Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
5844             Mahindra Xylo D4 BSIV      Jaipur  2012              55000
5845                Maruti Wagon R VXI     Kolkata  2013              46000
5846             Chevrolet Beat Diesel   Hyderabad  2011              47000

     Fuel_Type Transmission Owner_Type  Mileage  Engine   Power  Seats  Price  \
0       Diesel       Manual      First    19.67    1582  126.20    5.0  12.50
1       Petrol       Manual      First    13.00    1199   88.70    5.0   4.50
2       Diesel       Manual      First    20.77    1248   88.76    7.0   6.00
3       Diesel    Automatic     Second    15.20    1968  140.80    5.0  17.74
4       Diesel       Manual      First    23.08    1461   63.10    5.0   3.50
...        ...          ...        ...      ...     ...     ...    ...    ...
5842    Diesel       Manual      First    28.40    1248   74.00    5.0   4.75
5843    Diesel       Manual      First    24.40    1120   71.00    5.0   4.00
5844    Diesel       Manual     Second    14.00    2498  112.00    8.0   2.90
5845    Petrol       Manual      First    18.90     998   67.10    5.0   2.65
5846    Diesel       Manual      First    25.44     936   57.60    5.0   2.50

      Car_Age
0           9
1          13
2          12
3          11
4          11
...       ...
5842       10
5843        9
5844       12
5845       11
5846       13

[5847 rows x 16 columns]

In [13]:
# Calculating the number of kilometers driven per year
df4['kilometers_drive_per_year'] = df4['Kilometers_Driven'] / df4['Car_Age']

In [14]:
df4

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Age,kilometers_drive_per_year
0,0,0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.20,5.0,12.50,9,4555.555556
1,1,1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199,88.70,5.0,4.50,13,3538.461538
2,2,2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,6.00,12,7250.000000
3,3,3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968,140.80,5.0,17.74,11,3697.272727
4,4,4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.10,5.0,3.50,11,7909.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,5842,5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248,74.00,5.0,4.75,10,2736.500000
5843,5843,5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120,71.00,5.0,4.00,9,11111.111111
5844,5844,5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498,112.00,8.0,2.90,12,4583.333333
5845,5845,5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998,67.10,5.0,2.65,11,4181.818182
5846,5846,5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936,57.60,5.0,2.50,13,3615.384615

In [15]:
# Saved the modified data to a new CSV file

df4.to_csv('/content/drive/MyDrive/PDS ASSIGNMENT-2/task4_output.csv')